{% extends "base.html" %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

<div class="jumbotron" style="margin-top: 200px;">
    <div class="container">
        <h1>Lista de Usuários</h1>
        
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                	{% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.ID}}</td>
                        <td>{{usuario.Name}}</td>
                        <td>{{usuario.Email}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% endblock %}