{% extends "base.html" %}

{% block title %}
    Atualizar usuário
{% endblock %}

{% block css %}
    <style type="text/css">
        .create-button{
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Atualizar Usuário</h1>
            
            <form class="form-horizontal" id="usuario-form" role="form">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="text" class="form-control" value="{{usuario.Name}}" id="name" name="name" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="email" class="form-control" value="{{usuario.Email}}" id="email" name="email" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="" onclick="updateUser('{{usuario.ID}}')" class="btn btn-warning btn-block">Atualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js%}

    <script>
        function updateUser(id) {
            $.ajax({
                url: "/v1/update/" + id,
                method: "PUT",
                dataType: "json",
                data: $("#usuario-form").serialize(),
                complete: function() {
                    window.location.assign("/");
                }
            });
        }
    </script>

{% endblock %}